.e-grid .e-gridheader .e-sortfilter .e-headercelldiv, .e-grid .e-gridheader .e-stackedheadercelldiv, .e-grid .e-gridheader .e-headercell .e-headercelldiv.e-headerchkcelldiv {
    padding: 0 0 0 0 !important;
    margin-top: 8px;
    text-align: right;
    color: black !important;
    font-weight: 600;
}
.e-grid .e-gridheader{
    padding-right: 0 !important;
}

.e-grid .e-content{
    height: 100% !important;
    overflow-y: hidden !important;
}
.sk_table_SckOrdLs{
    .sk_combobox_SckOrdLs{
        margin-bottom: 20px;
        span[aria-owns="comboelement_options"]{
            width: 35% !important;
        }
        button{
            padding: 8px 15px;
            margin: 0 15px 0 0;
            span{
                // padding: 15px;
            }
        }
    }
   
}
