

/* @import url(/assets/font/yekan-master/stylesheet.css); 

 @font-face {
  font-family: 'yekan';
  src: url("./assets/YekanNew/fonts/eot/iranyekanwebbold.eot") format("eot");
  src: url("./assets/YekanNew/fonts/eot/iranyekanwebbold.eot?#iefix") format("embedded-opentype"),
   url("./assets/YekanNew/fonts/woff/iranyekanwebbold.woff") format("woff"),
   url("./assets/YekanNew/fonts/woff2/iranyekanwebbold.woff2") format("woff2"),
    url("./assets/YekanNew/fonts/ttf/iranyekanwebbold.ttf") format("truetype"),
    url("./assets/YekanNew/fonts/svg/iranyekanwebbold.svg#Yekan") format('svg');
    font-weight: normal;
    font-style: normal; 
}
body{
  height: 100%;
}
* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  direction: rtl;
}

:focus {
    outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}



ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}



audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}
.sk_parking_time_input{
  border: 1px solid #e6e6e6;
  margin-top: 8px;
  padding: 10px;
}
table {
  border-collapse: collapse;
}
tr {
  border-bottom: 1px solid #ccc;
}
th, td {
  text-align: left;
  padding: 4px;
}
.ui.custom.sidebar {
  width: 315px !important;
  margin-left: -315px !important;
}

.ui.active.custom.sidebar {
  margin-left: 0px !important;
}

.ui.active.right.custom.sidebar {
  margin-left: -315px !important;
} */